@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Product>

<table class="table">
    @foreach(Product product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Category</td>
            <td>
                <a asp-action="Edit" asp-route-productId="@product.Id" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    }
</table>

<script asp-src-include="~/js/*.js"></script>

<link asp-href-include="~/css/*.css" />